@model IEnumerable<EFDataAccess.Models.Certificate>

<h2>@ViewBag.Title</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Test Code</th>
            <th scope="col">Active</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">@Html.DisplayFor(modelItem => item.CertificateId)</th>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.AssessmentTestCode)</td>
            <td>@(item.Active ? "Active" : "Inactive")</td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.CertificateId })
            </td>
        </tr>
    }

</table>
